---
layout: micropubpost
title: Larsabrasha
---

{% for post in site.posts %}
<div class="d-flex {% if forloop.last == false %} mb-3 {% endif %}">
  <div class="mr-2">
    <img
      src="/assets/gravatar-40.jpeg"
      width="40"
      height="40"
      class="rounded-circle"
    />
  </div>
  <div class="flex-grow-1">
    <div>
      <strong>{{ site.name }}</strong>
      <span
        class="text-muted pl-2"
        title="{{ post.date | date: '%Y-%m-%d %H:%M' }}"
        >{{ post.date | date_to_string }}</span
      >
    </div>
    <div>
      {{ post.content }}

      {% if post.mf-photo %}
      {% for photo in post.mf-photo %}
      <p>
        <a href="{{photo}}">
          <img src="{{photo}}" width="100%" class="rounded" />
        </a>
      </p>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
